{
    "presets": [
        "react-app"
    ],
    "plugins": [
        [
            "import",
            {
            "libraryName": "antd",
            "style": "css"
            },
            "ant"
        ],
        [
            "import",
            {
            "libraryName": "antd-mobile",
            "style": "css"
            },
            "antd-mobile"
        ]
    ]
}